:root {
  --color-primary: rgb(224, 135, 0);
  --color-secondary: rgb(67 41 0);
  --font-size-base: 16px;

}

@font-face {
  font-family: 'Karmina';
  src: url('../fonts/Karmina.otf') format('opentype');
}

* {
  margin: 0;
}

body
{
  background: #000;             /* Black background */
  color: var(--color-primary) ;      /* Bright orange text color */
  font-family: 'Karmina', monospace;
  font-size: var(--font-size-base);
}

h1, h2
{
  font-weight: normal;           /* Removes bold from headers */
}

hr
{
  border: 1px solid var(--color-primary);  /* Orange horizontal line */
  opacity: 0.3;                          /* Makes it semi-transparent */
}

a{
  color:unset;
  text-decoration: none;
}


/*  Header  */

header{
  display: flex;
  justify-content: center;


  background-color: #243424;
  gap: 2rem;
  padding: .5rem 0;
}


/*  Main  */
main{
  place-items: center;
}


/*  Footer  */
footer{
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 0.5rem;

  border-top: 2px solid var(--color-secondary);

  font-size: calc(var(--font-size-base) - 4px);
}